html {
  background: rgb(250, 250, 250);
  color: rgb(10, 10, 10);
  font-family: Helvetica, Arial, sans-serif;
}

.content {
  transform: translateY(20px)
}

.top {
  background: whitesmoke;
  width: 100%;
  height: 60px;
}

.header {
  background: rgb(84, 86, 94);
  margin: -8px;
  position: top;
  width: 100%;
  height: 55px;
  top: 0%;
  text-align: center;
}

header button {
  background-color: rgba(119, 119, 119, 0);
  padding: 10px 20px;
  text-align: right 10px;
  border: 10px;
  border-radius: 3px;
  font-size: 22px;
  display: inline;
  color: rgb(55, 128, 187);
  cursor: pointer;
  transform: translateY(1px);
}

header button:hover {
  background-color: rgba(44, 44, 44, 0.61);
  transition: 0.20s;
  transition-property: unset;
  transform: translateY(4px);
}
header button:active {
  background-color: rgba(34, 34, 34, 0.61);
  transition: 0.10s;
  transform: translateY(8px);
}

footer {
  background: rgb(78, 151, 235);
  position: fixed;
  bottom: 0%;
  width: 100%;
  height: 35px;
  margin: -8px;
  font-size: 13.4px;
}

.copyright {
  margin: 8px;
}